#lr_part2 {
position: relative;
bottom: 15px;
text-align: center;
background-color: rgb(238, 238, 238);
height: 550px;
}
#lr_part2 p {
position: relative;
color: gray;
top: 50px;
}
#lr_part2 #button {
position: absolute;
bottom: 10%;
border-radius: 20px;
right: 47%;
width: 80px;
height: 40px;
background-color: rgb(212, 2, 98);
color: white;
font-size: 16px;
}
#lr_part2 {
position: relative;
text-align: center;
background-color: rgb(238, 238, 238);
height: 550px;
}
#lr_part2 a {
position: absolute;
top: 290px;
right: 30%;
text-decoration: none;
color: rgb(112, 156, 214);
font-size: 12px;
}
#lr_part2 .input-container {
display: -ms-flexbox;
display: flex;
width: 100%;
}
#lr_part2 .box {
outline-style: none;
position: relative;
display: block;
top: 80px;
margin-left: 30%;
width: 40%;
height: 53px;
margin-bottom: 10px;
text-align: right;
border: none;
}
#lr_part2 i {
position: relative;
top: 80px;
  padding: 20px 10px 0 10px;
  height: 35px;
  background: white;
  color: gray;
  width: 20px;
  text-align: center;
}