@font-face {
	font-family: Shabnam;
	src: url('Shabnam.eot');
	src: url('Shabnam.eot?#iefix') format('embedded-opentype'),
		 url('Shabnam.woff') format('woff'),
		 url('Shabnam.ttf') format('truetype');
	font-weight: normal;
  }     
  @font-face {
	font-family: Shabnam;
	src: url('Shabnam-Bold.eot');
	src: url('Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
		 url('Shabnam-Bold.woff') format('woff'),
		 url('Shabnam-Bold.ttf') format('truetype');
	font-weight: bold;
  }
  @font-face {
	font-family: Shabnam;
	src: url('Shabnam-Light.eot');
	src: url('Shabnam-Light.eot?#iefix') format('embedded-opentype'),
		 url('Shabnam-Light.woff') format('woff'),
		 url('Shabnam-Light.ttf') format('truetype');
	font-weight: 300;
  }
body{
	position: relative;
	font-family: 'Shabnam';
	margin-left: 0;
	margin-right: 0;
	height: 1000px;
}
#topPic {
	position: relative;
	top: -30px;
	width: 100%;
	height: 150px;
}
#p1 {
	position: relative;
	text-align: right;
	margin-right: 20px;
	font-size: 20px;
	top: -20px;
}
#search_container {
	position: relative;
	width: 100%;
	height: 70px;
}
#searchField {
	display: block;
	position: relative;
	width: 40%;
	height: 40px;
	float: right;
	text-align: right;
	margin: 15px;
}
#container {
	position: absolute;
	width: 100%;
	height: 80%;
}
#restaurants {
	position: absolute;
	width: 75%;
	height: 100%;
	margin: 2%;
	background-color: blue;
}
#res {
	position: absolute;
	display: inline-block;
	min-width: 50%;
	border: 2px solid black;
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 5%;
	height: 200px;
	padding: 2px;
}
#info {
	position: relative;
	width: 100%;
	height: 70%;
	background-color: white;
}
#reslogo {
	float: right;
	margin: 10px;
	width: 60px;
	height: 60px;
}
#resname {
	float: right;
	margin: 10px;
}
#stars {
	position: absolute;
	right: 75px;
	top: 50px;
}
#categories {
	position: absolute;
	right: 75px;
	top: 80px;
}

#address {
	position: absolute;
	right: 75px;
	top: 90px;
	color: gray;
}
#button {
	position: relative;
	width: 100%;
	height: 30%;
	background-color: lightgray;
}
button {
	position: absolute;
	margin-right: 40%;
	margin-left: 40%;
	margin-top: 5px;
	width: 20%;
	height: 90%;
	border: 1px solid rgb(212, 2, 98);
	border-radius: 30px;
	color: rgb(212, 2, 98)
}

#filters {
	position: absolute;
	left: 76%;
	margin: 2%;
	width: 20%;
	height: 100%;
	border: 1 px solid gray;
	background-color: lightgray;
}
#filters #p2 {
	text-align: center;
}
#filters #searchField2 {
	border: 1px solid black;
	position: absolute;
	width: 80%;
	text-align: right;
	height: 40px;
	margin-right: 10%;
	margin-left: 10%;
	/* margin-bottom: 0; */
}

#checkboxAndName {
	position: absolute;
	border: 1px solid black;
	width: 80%;
	height: 40px;
	margin-right: 10%;
	margin-left: 10%;
	margin-top:45px;
	padding-right: 3px;
}
#checkboxAndName label {
	position: relative;
	top: 10px;
	float: right;
}
#checkboxAndName #filter {
	position: relative;
	top: 10px;
	float: right;
}