@font-face {
	font-family: Shabnam;
	src: url('Shabnam.eot');
	src: url('Shabnam.eot?#iefix') format('embedded-opentype'),
		 url('Shabnam.woff') format('woff'),
		 url('Shabnam.ttf') format('truetype');
	font-weight: normal;
  }     
  @font-face {
	font-family: Shabnam;
	src: url('Shabnam-Bold.eot');
	src: url('Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
		 url('Shabnam-Bold.woff') format('woff'),
		 url('Shabnam-Bold.ttf') format('truetype');
	font-weight: bold;
  }
  @font-face {
	font-family: Shabnam;
	src: url('Shabnam-Light.eot');
	src: url('Shabnam-Light.eot?#iefix') format('embedded-opentype'),
		 url('Shabnam-Light.woff') format('woff'),
		 url('Shabnam-Light.ttf') format('truetype');
	font-weight: 300;
  }
body{
	position: relative;
	font-family: 'Shabnam';
	margin-left: 0;
	margin-right: 0;
	height: 1500px;
}
#topPic {
	position: relative;
	top: -30px;
	width: 100%;
	height: 150px;
}
#p1 {
	position: relative;
	text-align: right;
	margin-right: 20px;
	font-size: 20px;
	top: -20px;
}
#search_container {
	position: relative;
	width: 100%;
	height: 70px;
}
#searchField {
	display: block;
	position: relative;
	width: 40%;
	height: 40px;
	float: right;
	text-align: right;
	margin: 15px;
}
#container {
	position: absolute;
	width: 100%;
	height: 80%;
	background-color: rgb(250, 250, 250);
}
#allRestaurants {
	position: absolute;
	width: 75%;
	/* height: 100%; */
	margin: 2%;
	padding-bottom: 50px;
	background-color: rgb(152, 152, 223);
}
#restaurants {
	position: relative;
	margin: 2%;
	padding-bottom: 50px;
}
#closedContainer {
	position: relative;	
	margin: 2%;
}
#closedContainer #title {
	text-align: right;
	padding: 20px;
	font-size: 20px;
}
#res {
	position: relative;
	display: inline-block;
	width: 250px;
	border-radius: 5px;
	/* border: 1px solid lightgray; */
	margin: 10px;
	height: 200px;
}

#res:hover{
	box-shadow: 0 0 10px rgba(33,33,33,.3);
}
#info {
	position: relative;
	width: 100%;
	height: 70%;
	background-color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#closedrestaurants #info {
	background-color: lightgray;
}
#reslogo {
	float: right;
	margin: 10px;
	width: 60px;
	height: 60px;
	border-radius: 4px;
}
#resname {
	float: right;
	margin: 10px;
	color: black;
}
#stars {
	position: absolute;
	right: 85px;
	top: 50px;
}
i {
    color: orange;
    padding: 2px;
}
#categories {
	position: absolute;
	right: 75px;
	top: 80px;
	color: black;
}

#address {
	position: absolute;
	right: 75px;
	top: 90px;
	color: gray;
	font-size: 15px;
}
#button {
	position: relative;
	width: 100%;
	height: 30%;
	background-color: rgb(230, 230, 230);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#closedrestaurants #button {
	background-color: lightgray;
}
button {
	position: absolute;
	margin-top: 10px;
	margin-right: 26%;
	margin-left: 26%;
	background-color: rgb(230, 230, 230);
	width: 46%;
	height: 70%;
	border: 1px solid rgb(212, 2, 98);
	border-radius: 30px;
	color: rgb(212, 2, 98);
}
button:hover {
	background-color: rgb(247, 230, 235);
}
#filters {
	position: absolute;
	left: 76%;
	margin: 2%;
	width: 20%;
	border: 5 px solid black;
	background-color: rgb(170, 199, 153);
	padding-bottom: 50px;
}
#filters #p2 {
	text-align: center;
}
#filters #searchField2 {
	position: relative;
	width: 78%;
	text-align: right;
	height: 40px;
	margin-right: 10%;
	margin-left: 10%;
}
#selectedFilters {
	position: relative;
	margin-top: 5px;
	margin-right: 10%;
	margin-left: 10%;
	background-color: red;
	height: 70px;
}
hr {
	border: 1px solid gray;
}
#unselectedFilters {
	margin-right: 10%;
	margin-left: 10%;
}
#checkboxAndName {
	border: 1px solid lightgray;
	height: 40px;
	padding-right: 3px;
}
#checkboxAndName label {
	position: relative;
	top: 10px;
	float: right;
}
#checkboxAndName #filter {
	position: relative;
	top: 10px;
	float: right;
	margin-left: 10px;
}